<div class="container-lg gx-0 gx-lg-5">
    <div class="shadow blur position-relative">

        <div class="window__header">
            <div class="window__header-buttons">
                <div class="button red"></div><div class="button yellow"></div><div class="button green"></div>
            </div>
            <div class="d-flex w-100 justify-content-center me-5">
                <small class="text-white-50">
                    {{ title }}
                </small>
            </div>
        </div>

        {{> navigation }}

        <main class="window__main" role="main">
