
    <header role="banner">
        <div class="name-wrapper">
            <div id="fullname" class="title" role="heading" aria-level="1">
                <a href="/">{{ site.data.resume.name }}</a>
            </div>
            <div id="jobtitle" class="sub-title" role="doc-subtitle">{{ site.data.resume.jobtitle }}</div>
        </div>
        <div id="contact" class="contact">
            {% for item in site.data.resume.contact %}
            <div class="contact-item">
                {% if item.link %}
                <a href="{{ item.link }}" target="_blank" role="link">
                {% endif %}
                <i class="fa {{ item.icon }}" aria-hidden="true"></i>{{ item.text }}
                {% if item.link %}
                </a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </header>
