.navigation {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 3rem;

    .container {
        display: flex;
        justify-content: space-between;
    }

    a {
        color: #f0f0f0;

        & + a {
            margin-left: 1rem;
        }
    }
}