body {
    color: var(--bs-white);
    background-color: var(--bs-primary);
    background-image: url(./docs/assets/img/bg.png), var(--bs-gradient);
    background-size: cover;
}

.rounded-3 {
    border-radius: 3rem !important;
}