@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --bs-font-sans-serif: 'Roboto', sans-serif;;
}

body {
    color: var(--bs-white);
    background-color: var(--bs-primary);
    background-image: url(../img/bg.png), var(--bs-gradient);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.rounded-3 {
    border-radius: 3rem !important;
}
@media (max-width: 991.98px) {
    .rounded-3 {
        border-radius: 0 !important;
    }
}

.carousel-indicators .active {
    background-color: var(--bs-primary);
}

#img {
    z-index: 1;
    max-width: 460px;
}
#img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: var(--bs-dark);
    background-image: var(--bs-gradient);
    -webkit-animation: 7.5s linear infinite spinner-border;
    animation: 7.5s linear infinite spinner-border;
}

div.card.h-100.border-2 {
    border-radius: 1.25rem;
}

.progress {
    height: 12px;
    padding: 2px;
    border: 2px solid var(--bs-gray-dark);
    border-radius: 1rem;
    background-color: transparent;
}
.progress-bar {
    border-radius: 1rem;
}
.progress-bar + .progress-bar {
    margin-left: 2px;
}

#tech .img-fluid {
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    -webkit-object-fit: contain;
    object-fit: contain;
    -webkit-object-position: center;
    object-position: center;
    filter: drop-shadow(0 .25rem .25rem #000);
}