body {
    color: var(--bs-white);
    background-color: var(--bs-primary);
    background-image: url(../img/bg.png), var(--bs-gradient);
    background-size: cover;
}

.rounded-3 {
    border-radius: 3rem !important;
}
@media (max-width: 991.98px) {
    .rounded-3 {
        border-radius: 0 !important;
    }
}

#img {
    z-index: 1;
    max-width: 460px;
}
#img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: var(--bs-dark);
    background-image: var(--bs-gradient);
    -webkit-animation: 7.5s linear infinite spinner-border;
    animation: 7.5s linear infinite spinner-border;
}