

#navigation {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 3rem;
	border-bottom: $border-solid;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	a {
		padding: .5rem 0;
		color: rgba(206,206,206,.5);
		transition: .75s;

		&:hover {
			color: rgba(206,206,206,1);
			text-decoration: none;
		}

		& + a {
			margin-left: 1rem;
		}
	}

	.logo {
		font-size: 1.5rem;

		a {
			color: rgba(206,206,206,1);
		}
	}
}