/**
 * Custom Styles
 * -------------------------------------------------------------------------- */

.box {
  align-items: center;
  justify-content: center;
}


/**
 * Component: SpaceMan
 * -------------------------------------------------------------------------- */

.spaceman {
  display: flex;
  justify-content: center;

  &.pt-6 {
    padding-top: 6rem;
  }

  &.pt-8 {
    padding-top: 8rem;
  }
}


/**
 * Image Size
 * -------------------------------------------------------------------------- */

.img {
  $imgHeight: auto;

  &-sm {
    width: 128px;
    height: $imgHeight;
  }

  &-md {
    width: 256px;
    height: $imgHeight;
  }

  &-lg {
    width: 512px;
    height: $imgHeight;
  }
}
